  <hr/>
  <button [routerLink]="['/userAdd']" class="btn btn-primary btn-sm float-right">Agregar Usuario</button>
  <h3>User List</h3>
  <hr/>
  <table class="table table-sm table-hover">
    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th colspan="3">&nbsp;</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><a [routerLink]="['/user', user.id]"><fa-icon [icon]="['fas', 'search']"></fa-icon></a></td>
        <td><a [routerLink]="['/userAdd', user.id]"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a></td>
        <td><a (click)="goDelete(user.id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>
